<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAUCY</title>
    <link href="~/Content/all.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding-top:0;margin:0">


    @Html.Partial("Navbar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>CopyRights Saucy 2018</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            var searchobj = { choicename: "categories", itemname: "" }
            $(".navbar-nav").on("click", "#searchChoice", function () {
                var button = $(this);
                searchobj.itemname = button.attr("data-cat-name");
                localStorage.setItem("SearchItem", JSON.stringify(searchobj));
                button.attr('href', '/items/index');

            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false) 
</body>
</html>